*{
    padding: 0;
    margin: 0;
}
nav{
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0px;
    z-index: 5;
    background-color: rgb(175, 59, 59);
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding-top: 35px;
    font-size: 30px;
}
.ok{
    border: 2px solid green;
    border-radius: 240px;
    box-shadow: greenyellow;
    width: 33%;
    padding: 100px;
    box-sizing: border-box;
    display: inline-block;
    background-color: rgb(129, 143, 108);
    position: relative;
    bottom: 180px;
}
#pp{
  
 margin-left: 450px;
    display: inline;
}
.box{
    border: 2px solid grey;
    width: 33%;
    box-sizing: border-box;
    color: white;
    
    background-color: rgb(12, 121, 121);
    padding: 10px;
    padding-left: 80px; 
    margin: 10px auto;
}
.box h4{
    font-weight: lighter;
}
.con {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.856);
    line-height: 70px;
    font-size: x-large;
    text-align: left;
    padding: 100px;
}
.cons {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.856);
    line-height: 50px;
    font-size: x-large;
    text-align: left;
    padding: 100px;
}
h3
{
    color:red;
}
.book{
    height: 300px;
}
a{
    text-decoration: none;
    text-align: center;
    position: relative;
    top:100px;
   
}

a:hover{
    color: yellow;
}
footer{
    background-color: teal;
    text-align: center;
}
span{
    text-align: center;
    color: white;
    font-size: xx-large;
}